<div class="about-main">
  <div class="about-message">
    <h2>Tweetapp1とは</h2>
    <p>SNSサービスです。 近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。</p>
  </div>
  <div class="about-img">
    <img src="/about.png" alt="#">
  </div>
</div>
