/* posts共通 */
.form-error{
  color: #ff4d75;
}

/* 一覧ページ */
.posts-index{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  background-color: #FFEEFF;
}

.posts{
  background-color: white;
  margin: 10% 20%;
  box-shadow: 0 2px 6px #c1ced7;
}

.posts .post{
  list-style-type: none;
  padding: 30px;
  border-bottom: solid 1px #EEEEEE;
  display: flex;
}

.posts .post a{
  color: black;
}

.posts .post a:visited{
  color: black;
}

 .post-left{
  vertical-align: middle;
  width: 70px;
}

.post-left img{
  height: 70px;
  width: 70px;
  border-radius: 35%;
}

.post-right{
  margin-left: 20px;
}

.post-right .user-name{
  line-height: 30px;
}


/* 詳細ページ */
.post-show{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  background-color: #FFEEFF;
}

.post-show-detail{
  background-color: white;
  margin: 10% 20%;
  box-shadow: 0 2px 6px #c1ced7;
  padding: 30px;
}

.post-show-detail .post-content{
  font-size: 24px;
  margin-bottom: 10px;
}

.post-show-detail .post-date{
  font-size:12px;
}

.edit-option a{
  color: black;
}

.edit-option a:visited{
  color: black;
}

.liked{
  color: #FF5192;
}

.unliked{
  color: #CCCCCC;
}



/* 新規投稿 */

.post-new{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFEEFF;
}

.theme-new-group{
  margin: 5% 20%;
}

.content-new{
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  padding: 30px;
  overflow: hidden;
}

.content-new textarea{
  width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  resize: none;
}

.content-new input{
  margin-top: 30px;
  width: 150px;
  height: 60px;
  font-size: 120%;
  background-color: #FFEEFF;
  border-color: rgb(188, 200, 212);
  float: right;
}

.theme-new h2{
  color: rgb(188, 200, 212);
  text-align: center;
}

/* 編集ページ */
.post-edit{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFEEFF;
}

.theme-edit-group{
  margin: 5% 20%;
}

.content-edit{
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  padding: 30px;
  overflow: hidden;
}

.content-edit textarea{
  width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  resize: none;
}

.content-edit input{
  margin-top: 30px;
  width: 150px;
  height: 60px;
  font-size: 120%;
  background-color: #FFEEFF;
  border-color: rgb(188, 200, 212);
  float: right;
}

.theme-edit h2{
  color: rgb(188, 200, 212);
  text-align: center;
}










/**/
