/* users共通 */
.form-error{
  color: #ff4d75;
}


/* 一覧ページ */
.users-index{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  background-color: #FFEEFF;
}

.users{
  background-color: white;
  margin: 0 20% 10% 20%;
  box-shadow: 0 2px 6px #c1ced7;
}

.users .user{
  list-style-type: none;
  display: flex;
  width: 100%;
  border-bottom: solid 1px #EEEEEE;
}

.user .user-left{
  vertical-align: middle;
  padding: 20px 0 20px 30px;
  width: 70px;
}

.user .user-right{
  margin: auto 0;
  padding: 20px 0;
  vertical-align: middle;
}

.users .user img{
  height: 70px;
  width: 70px;
  border-radius: 35%;
}

.users .user a{
  margin-left: 30px;
  color: black;
}

.users .user a:visited{
  color: black;
}

.theme-users h2{
  color: rgb(188, 200, 212);
  text-align: center;
}

/* 詳細ページ＆LIKE一覧ページ */
.user-show{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  background-color: #FFEEFF;
}

.user-show-detail img{
  height: 70px;
  width: 70px;
  border-radius: 35%;
}

.user-show-detail .user-name{
  font-size: 30px;
  margin: 0;
}

.user-show-detail .user-email{
  font-size: 15px;
  margin: 0;
}

.user-show-detail{
  margin: 10% 20% 0 20%;
  padding: 30px;
  text-align: center;
}

.user-show-detail a{
  color: black;
}

.user-posts-index{
  background-color: white;
  margin: 0 20% 10% 20%;
  box-shadow: 0 2px 6px #c1ced7;
}

.select-content{
  border-bottom: solid 1px #EEEEEE;
  display: flex;
}

.select-content .select-posts{
  padding: 20px 30px;
  border-bottom: solid 1px pink;
}

.select-content .select-posts-x{
  padding: 20px 30px;
}

.select-content .select-likes{
  padding: 20px 30px;
  margin: 0;
}

.select-content .select-likes-x{
  border-bottom: solid 1px pink;
  padding: 20px 30px;
  margin: 0;
}

.select-content .select-likes:hover{
  border-bottom: solid 1px pink;
}

.select-content .select-posts-x:hover{
  border-bottom: solid 1px pink;
}

.select-likes a{
  color: black;
}

.select-likes a:visited{
  color: black;
}

.select-posts-x a{
  color: black;
}

.select-posts-x a:visited{
  color: black;
}

.user-posts-index .post{
  list-style-type: none;
  padding: 30px;
  border-bottom: solid 1px #EEEEEE;
  display: flex;
}

.user-posts-index .post a{
  color: black;
}

.user-posts-index .post a:visited{
  color: black;
}

 .post-left{
  vertical-align: middle;
  width: 70px;
}

.post-left img{
  height: 70px;
  width: 70px;
  border-radius: 35%;
}

.post-right{
  margin-left: 20px;
}

.post-right .user-name{
  line-height: 30px;
}



/*  新規登録・編集 */
.user-new{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFEEFF;
}

.theme-new-group{
  margin: 5% 20%;
}

.content-new{
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  padding: 30px;
  overflow: hidden;
}

.content-new  .container{
  width: 100%;
  height: 35px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  resize: none;
  background-color: white;
  border: 1px solid #d8dadf;
  vertical-align: middle;
}

.content-new .btn{
  margin-top: 30px;
  width: 150px;
  height: 60px;
  font-size: 120%;
  background-color: #FFEEFF;
  border-color: rgb(188, 200, 212);
  float: right;
}

.theme-new h2{
  color: rgb(188, 200, 212);
  text-align: center;
}

/* ログイン */
.user-login{
  position: absolute;
  top: 64px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFEEFF;
}

.theme-user-login{
  margin: 5% 20%;
}

.content-login{
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  padding: 30px;
  overflow: hidden;
}

.content-login .content{
  width: 100%;
  text-align: left;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  resize: none;
}

.content-login .btn{
  margin-top: 30px;
  width: 150px;
  height: 60px;
  font-size: 120%;
  background-color: #FFEEFF;
  border-color: rgb(188, 200, 212);
  float: right;
}

.theme-login h2{
  color: rgb(188, 200, 212);
  text-align: center;
}



















/*   */
